.ax-delay-0 { animation-delay: var(--ax-delay-none) !important; }
.ax-delay-100 { animation-delay: var(--ax-delay-100) !important; }
.ax-delay-200 { animation-delay: var(--ax-delay-200) !important; }
.ax-delay-300 { animation-delay: var(--ax-delay-300) !important; }
.ax-delay-500 { animation-delay: var(--ax-delay-500) !important; }
.ax-delay-700 { animation-delay: var(--ax-delay-700) !important; }
.ax-delay-1000 { animation-delay: var(--ax-delay-1000) !important; }
