.ax-repeat-1 { animation-iteration-count: 1 !important; }
.ax-repeat-2 { animation-iteration-count: 2 !important; }
.ax-repeat-3 { animation-iteration-count: 3 !important; }
.ax-infinite { animation-iteration-count: infinite !important; }
