@use '../base/mixins' as *;

@keyframes ax-flip-x {
  from { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
  40% { transform: perspective(400px) rotate3d(1, 0, 0, -20deg); animation-timing-function: ease-in; }
  60% { transform: perspective(400px) rotate3d(1, 0, 0, 10deg); opacity: 1; }
  80% { transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to { transform: perspective(400px); opacity: 1; }
}
@keyframes ax-flip-y {
  from { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); animation-timing-function: ease-in; opacity: 0; }
  40% { transform: perspective(400px) rotate3d(0, 1, 0, -20deg); animation-timing-function: ease-in; }
  60% { transform: perspective(400px) rotate3d(0, 1, 0, 10deg); opacity: 1; }
  80% { transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  to { transform: perspective(400px); opacity: 1; }
}
@keyframes ax-flip-in-x {
  from { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
  to { transform: perspective(400px) rotate3d(1, 0, 0, 0deg); opacity: 1; }
}
@keyframes ax-flip-in-y {
  from { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); opacity: 0; }
  to { transform: perspective(400px) rotate3d(0, 1, 0, 0deg); opacity: 1; }
}
@keyframes ax-flip-out-x {
  from { transform: perspective(400px) rotate3d(1, 0, 0, 0deg); opacity: 1; }
  to { transform: perspective(400px) rotate3d(1, 0, 0, 90deg); opacity: 0; }
}
@keyframes ax-flip-out-y {
  from { transform: perspective(400px) rotate3d(0, 1, 0, 0deg); opacity: 1; }
  to { transform: perspective(400px) rotate3d(0, 1, 0, 90deg); opacity: 0; }
}

.ax-flip-x { @include ax-transform-animation(ax-flip-x); }
.ax-flip-y { @include ax-transform-animation(ax-flip-y); }
.ax-flip-in-x { @include ax-transform-animation(ax-flip-in-x); }
.ax-flip-in-y { @include ax-transform-animation(ax-flip-in-y); }
.ax-flip-out-x { @include ax-transform-animation(ax-flip-out-x); }
.ax-flip-out-y { @include ax-transform-animation(ax-flip-out-y); }
